/* All New Style Here Start  */

/* Header Two Css */

/* Home-1 Process Section Css */
.text-left {
  text-align: left !important;
}

/* Client Section Css */

/* Home Portfolio Slick css */
.slick-dots li button {
  width: 5px !important;
  height: 5px !important;
  background: #CCCCCD !important;
}

.slick-dots li {
  margin: 40px 0px 0px 0px !important;
}

.slick-dots li.slick-active button:before {
  opacity: 0 !important;
}


/* Home One client css */



/* Home Three Portfolio Css */


/* Video Popup Css start */

.mfp-close {
  position: absolute;
  top: -45px;
  right: -5px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 28px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-radius: 0%;
  padding: 0;
  text-align: center;
  line-height: 38px;
}

@media (max-width: 1024px) {
  .mfp-close {
    top: -40px;
    width: 35px;
    height: 35px;
    font-size: 24px;
  }
}

/* Vieo popup css end */

/* Service Section Css */


/* Home Two Css */

/* home two testimonial css */

/* Home Two Portfolio section css */

/* Home Two Blog Section */


/* Home Four Css */
/* home four hero circle */

@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}



/* home four service section css */

/* home four why choose css */

.text-right {
  text-align: right;
}

/* Home four Portfolio css */



/* Home two Hero Css */
/* .home-two-slider-navigation-dots ul.slick-dots {
  position: absolute;
  z-index: 1;
  bottom: 56px;
  right: 20%;
} */


/* Home two circle css */

@keyframes textRotation {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes textRotation {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes textRotation {
  to {
    transform: rotate(-360deg);
  }
}

/* home two accordion css */
.accordion-card .accordion-body,
.accordion-card .accordion-body p {
  font-family: "Titillium Web", sans-serif;
}


/* Home Four circle css */

@keyframes textRotation {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes textRotation {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes textRotation {
  to {
    transform: rotate(-360deg);
  }
}

/* Home Four Service Slider Dots Style */

/* Service Details section css */

/* Accordion */
.accordion {
  --bs-accordion-border-color: none !important;
}

/* Home three Testimonial Css */



/* Home Five Css */

/* home five hero css */

/* Dot Border Style */


/* Service Page Testimonial Css */


/* Project Page Img Popup Css */

/* Project Details page Select Css */


/* About Page Team Css  */


/* Shop Page Filter css */

/* ! New Dev style started ------------------------------------ */
@keyframes progressAnimationOne {
  from {
    width: 0%;
  }

  to {
    width: 89%;
  }
}

@keyframes progressAnimationTwo {
  from {
    width: 0%;
  }

  to {
    width: 92%;
  }
}

@keyframes progressAnimationThree {
  from {
    width: 0%;
  }

  to {
    width: 78%;
  }
}

/* services slider dots customize */

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: none !important;
}

.accordion-item:not(:first-of-type) {
  border-top: 1px solid #dee2e6 !important;
}

.accordion-item:first-of-type {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.accordion-item:first-of-type .accordion-button {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.homeTwo-custom-accordion-card>.accordion-card:has(.accordion-button:not(.collapsed)) {
  border: 2px solid transparent !important;
}

.homeTwo-custom-accordion-card>.accordion-card {
  border: 2px solid e3e3e4 !important;
}

/* home three why we do section implement animation */

@keyframes customFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* page five slider dots customization */

/* page four award card height fix */

/* Team card section height fixing */




/* Select Option Style */


/* Cart Page Css  */

/* Shop details Css */
i.ri-star-fill {
  padding-right: 3px;
}

.btn-px-space-none {
  padding: 0px 6px;
}

/* Shop page Css */

/* Team Page Css */

/* footer Two css */
.btn-footer-two {
  background-color: #EA5501 !important;
  color: #ffffff !important;
  padding: 19px 30px !important;
  display: inline-flex !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  line-height: 1 !important;
  overflow: hidden !important;
  align-items: center !important;
}

.btn-footer-two:hover {
  color: #15161C !important;
}

.accordion-card {
  border: 2px solid rgba(21, 22, 28, 0.1) !important;
}

/* Service Section Css  */

/* Contact Dropdown Css */

/* About Page css */

/* Home Three Css */

/* Extra Content Heading Style */

/* slick testimonial css  */

/* Header One New Style */

/* Service Area Testimonial css */

/* home three why are css */

/* Home Four Blog Extra Css  */

/* Service Details style  */

/* Home Four Hero Slider  */

/* Home Two Pricing Text Align  */

/* Home Five Page Style */

/* Home Two Style  */
.home-two-pricing-button-align {
  text-align: center !important;
}

/* Sidebar Space */



/* Shop Details card Heading style */

/* Product Card Style */

/* Team Page Team Card Style  */

/* All Video cursor  */

.ri-play-fill {
  cursor: pointer;
}

/* Shop Card Popup style  */

.nav-item {
  cursor: pointer;
}


/* Home two service card dots Style */

/* landing Page Sidebar CSS */

@media only screen and (min-width: 768px) {

  /* wishlist table border   */

}

@media only screen and (min-width: 768px) {

  /* home two and home five client css  */

  .slick-list {
    margin-left: 15px !important;
  }
}

@media only screen and (min-width: 1024px) {

  /* About Page portfolio css */

  .slick-list {
    margin-left: 15px !important;
  }


}

@media only screen and (min-width: 1400px) {

  .home-two-pricing-button-align {
    text-align: left !important;
  }
}

.accordion-decoration {
  border-bottom: none !important;
}

/* .service-card-underline a {
  text-decoration: none;
} */

/* All New Style Here End  */
































































































































































































































































































































































































































/* All New Style Here End  */