/*=================================
    CSS Index
==================================*/
/*

01. Theme Base (Variables, Typography)
02. Reset (Container, Grid, Input, Mobile Menu)
03. Utilities (Buttons, Titles, Common, Font, Background, Text Color, Overlay, Animation)
04. Template Style (Blog/Blockquote, Hero Area, About, Testimonial, Simple Sections)
05. Spacing

*/
/*=================================
   01. Theme Base
==================================*/
/*------------------- 1.1. Mixin -------------------*/
/*------------------- 1.2. Function -------------------*/
/*------------------- 1.3. Variable-------------------*/
/* Google Fonts loaded via <link> in layout.js to avoid request chains */

:root {
  --theme-color: #2E5EAA;
  --title-color: #15161C;
  --body-color: #737373;
  --smoke-color: #FAFAFA;
  --smoke-color2: #EBEBEB;
  --smoke-color3: #F5F5F5;
  --smoke-color4: #F4F4F4;
  --smoke-color5: #F2F2F2;
  --black-color: #202020;
  --gray-color: #232323;
  --white-color: #ffffff;
  --light-color: #9fa2ad;
  --yellow-color: #FFB539;
  --success-color: #28a745;
  --error-color: #dc3545;
  --border-color: rgba(21, 22, 28, 0.15);
  --title-font: "Titillium Web", sans-serif;
  --body-font: "Archivo", sans-serif;
  --main-container: 1362px;
  --container-gutters: 24px;
  --section-space: 100px;
  --section-space-mobile: 80px;
  --section-title-space: 60px;
  --ripple-ani-duration: 5s;
}

/*------------------- 1.5. Typography -------------------*/
html,
body {
  scroll-behavior: smooth !important;
}

body {
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 400;
  color: var(--body-color);
  line-height: 26px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  /***scroll-bar***/
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(251, 212, 81, 0.1);
}

body::-webkit-scrollbar-thumb {
  background: var(--theme-color);
  border-radius: 0px;
}

iframe {
  border: none;
  width: 100%;
}

button:focus,
a:focus,
a:active {
  outline: none;
}

img:not([draggable]) {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: disc;
}

a {
  color: var(--theme-color);
  text-decoration: none;
  outline: 0;
  transition: all ease 0.4s;
}


a:active,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  outline: 0;
}

button {
  transition: all ease 0.4s;
}

img {
  border: none;
}


p:empty {
  display: none;
}

p {
  font-family: var(--body-font);
  margin: 0 0 18px 0;
  color: var(--body-color);
  line-height: 1.75;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
p a,
span a {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5 {
  font-family: var(--title-font);
  color: var(--title-color);
  text-transform: none;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 0 15px 0;
}

.h1,
h1 {
  font-size: 82px;
  line-height: 0.9333em;
}

.h2,
h2 {
  font-size: 52px;
  line-height: 1.057;
}

.h3,
h3 {
  font-size: 36px;
  line-height: 1.278;
}

.h4,
h4 {
  font-size: 24px;
  line-height: 1.333;
}

.h5,
h5 {
  font-size: 22px;
  line-height: 1.417;
}

/* Medium Large devices */
@media (max-width: 1399px) {

  .h1,
  h1 {
    font-size: 54px;
  }
}

/* Large devices */
@media (max-width: 1199px) {

  .h1,
  h1 {
    font-size: 44px;
  }

  .h2,
  h2 {
    font-size: 40px;
  }

  .h3,
  h3 {
    font-size: 30px;
  }

  .h4,
  h4 {
    font-size: 24px;
  }

  .h5,
  h5 {
    font-size: 20px;
  }
}

/* Medium devices */
@media (max-width: 991px) {

  .h1,
  h1 {
    font-size: 50px;
  }
}

/* Small devices */
@media (max-width: 767px) {

  .h1,
  h1 {
    font-size: 40px;
  }

  .h2,
  h2 {
    font-size: 34px;
    line-height: 1.3;
  }

  .h3,
  h3 {
    font-size: 26px;
  }

  .h4,
  h4 {
    font-size: 22px;
  }

  .h5,
  h5 {
    font-size: 18px;
  }
}

/* Extra small devices */
@media (max-width: 575px) {

  .h2,
  h2 {
    font-size: 30px;
  }
}

/* Extra small devices */
@media (max-width: 375px) {

  .h1,
  h1 {
    font-size: 34px;
  }
}

/*=================================
    02. Reset
==================================*/
/*------------------- 2.1. Container -------------------*/
/* Medium Large devices */
@media (max-width: 1399px) {
  :root {
    --main-container: 1250px;
  }
}

.container2 {
  max-width: 1330px;
  margin: auto;
}

.container3 {
  max-width: 1386px;
  margin: auto;
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: calc(var(--main-container) + var(--container-gutters));
  }

  .container2 {
    max-width: 1330px;
  }

  .container3 {
    max-width: 1386px;
  }
}

@media only screen and (min-width: 1300px) {

  .container2 {
    max-width: 1330px;
  }

  .container3 {
    max-width: 1386px;
  }
}

/* Medium Large devices */
@media (max-width: 1399px) {
  .container2 {
    max-width: 1140px;
  }

  .container3 {
    max-width: 1140px;
  }
}

/* Large devices */
@media (max-width: 1199px) {
  .container2 {
    max-width: 960px;
  }

  .container3 {
    max-width: 960px;
  }
}

/* Medium devices */
@media (max-width: 991px) {
  .container2 {
    max-width: 720px;
  }

  .container3 {
    max-width: 720px;
  }
}

/* Small devices */
@media (max-width: 767px) {
  .container2 {
    max-width: 540px;
  }

  .container3 {
    max-width: 540px;
  }
}

/* Large devices */
@media (max-width: 1199px) {
  .container2 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .container3 {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
}

/*------------------- 2.2. Grid -------------------*/
.gy-50 {
  --bs-gutter-y: 50px;
}

@media (min-width: 1299px) {

  .gx-60 {
    --bs-gutter-x: 60px;
  }
}

/* Large devices */

/* Medium devices */
@media (max-width: 991px) {
  .gy-50 {
    --bs-gutter-y: 40px;
  }
}

/*------------------- 2.3. Input -------------------*/

.form-control,
.form-select {
  height: 50px;
  padding: 0 20px;
  border: 1px solid transparent;
  color: var(--body-color);
  background-color: var(--smoke-color3);
  font-size: 16px;
  width: 100%;
  font-family: var(--body-font);
  transition: 0.4s ease-in-out;
  padding-right: 45px;
  border-radius: 2px;
}


.form-control:focus,
.form-select:focus {
  outline: 0;
  box-shadow: none;
  border-color: var(--theme-color);
  background-color: var(--smoke-color);
}


.form-control::-moz-placeholder,
.form-select::-moz-placeholder {
  color: var(--body-color);
}


.form-control::-webkit-input-placeholder,
.form-select::-webkit-input-placeholder {
  color: var(--body-color);
}


.form-control:-ms-input-placeholder,
.form-select:-ms-input-placeholder {
  color: var(--body-color);
}


.form-control::placeholder,
.form-select::placeholder {
  color: var(--body-color);
}


.form-control.style3,
.form-select.style3 {
  background: var(--smoke-color3);
}

.form-text {
  font-size: 16px;
}

.form-text a {
  color: var(--title-color);
  font-weight: 500;
}


.form-select {
  display: block;
  width: 100%;
  line-height: 50px;
  cursor: pointer;
  background-image: none;
  background-position: right 26px center;
  background-repeat: no-repeat;
  background-size: 16px 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.form-select:after {
  right: 20px;
  height: 6px;
  width: 11px;
  transform: rotate(0);
  border-top: solid 6px var(--body-color);
  border-bottom: transparent;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  margin-top: -1px;
  transform-origin: center;
}


.form-select.open:after {
  transform: rotate(-180deg);
}

.form-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.form-group>i {
  display: inline-block;
  position: absolute;
  right: 25px;
  top: 21px;
  font-size: 16px;
  color: var(--body-color);
}

.form-group.has-label>i {
  top: 50px;
}

.form-group.has-icon .form-control {
  padding-left: 70px;
}

.form-group.has-icon .input-icon {
  display: inline-block;
  position: absolute;
  left: 40px;
  top: 18px;
  font-size: 16px;
  color: var(--body-color);
}

.form-group.has-icon .input-icon:hover {
  color: var(--theme-color);
}

[class*=col-].form-group>i {
  right: calc(var(--bs-gutter-x) / 2 + 25px);
}

[class*=col-].form-group .form-icon-left {
  left: calc(var(--bs-gutter-x) / 2 + 30px);
  right: auto;
}

/* Firefox */

label {
  display: block;
  color: var(--title-color);
  font-family: var(--body-font);
  font-size: 16px;
}

.form-messages {
  display: none;
}

.form-messages.success {
  color: var(--success-color);
  display: block;
}

.form-messages.error {
  color: var(--error-color);
  display: block;
}

/*------------------- 2.5. Mobile Menu -------------------*/

.mobile-menu {
  overflow-y: scroll;
  max-height: calc(100vh - 200px);
  padding-bottom: 40px;
  margin-top: 20px;
  text-align: left;
}

.mobile-menu ul {
  margin: 0;
  padding: 0 0;
}

.mobile-menu ul li {
  border-bottom: 1px solid #fdedf1;
  list-style-type: none;
}

.mobile-menu ul li li:first-child {
  border-top: 1px solid #fdedf1;
}

.mobile-menu ul li a {
  display: block;
  position: relative;
  padding: 12px 0;
  line-height: 1.4;
  font-size: 16px;
  text-transform: capitalize;
  color: var(--title-color);
  padding-left: 0px;
}

.mobile-menu ul li.active-class>a {
  color: var(--theme-color);
}

.mobile-menu ul li.active-class>a:before {
  transform: rotate(90deg);
}

.mobile-menu ul li ul li {
  padding-left: 20px;
}

.mobile-menu ul li ul li:last-child {
  border-bottom: none;
}

.mobile-menu>ul {
  padding: 0 30px;
}

.mobile-menu>ul>li:last-child {
  border-bottom: none;
}

@media (max-width: 400px) {

  .mobile-menu>ul {
    padding: 0 20px;
  }
}

/*=================================
    03. Utilities
==================================*/
/*------------------- 3.2. Buttons -------------------*/
.btn {
  position: relative;
  z-index: 2;
  vertical-align: middle;
  display: inline-flex;
  gap: 15px;
  border: none;
  border-radius: 0px !important;
  text-align: center;
  background-color: var(--theme-color);
  color: var(--white-color);
  font-family: var(--title-font);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  padding: 19px 30px;
  overflow: hidden;
  align-items: center;
}

.btn::after,
.btn::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--title-color);
  transition: 1s ease;
}

.btn:before {
  top: -2em;
  left: -2em;
}

.btn:after {
  left: calc(100% + 2em);
  top: calc(100% + 2em);
}

.btn i {
  font-size: 20px;
}

.btn:focus,
.btn:hover,
.btn:active {
  color: var(--white-color);
  box-shadow: none;
}

.btn:focus:after,
.btn:focus:before,
.btn:hover:after,
.btn:hover:before,
.btn:active:after,
.btn:active:before {
  height: 410px;
  width: 410px;
}

.btn.style3 {
  background: var(--title-color);
}

.btn.style3:before,
.btn.style3:after {
  background-color: var(--theme-color);
}

.btn.w-100 {
  text-align: center;
  justify-content: center;
}

.btn.w-100:hover {
  background: var(--title-color);
}

.btn-with-icon {
  font-size: 15px;
  font-weight: 600;
  font-family: var(--title-font);
  color: var(--body-color);
  text-transform: uppercase;
  display: inline-flex;
  gap: 10px;
  transition: 0.4s;
  border: 0;
  background: transparent;
}

.btn-with-icon .btn-icon {
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  background: rgba(21, 22, 28, 0.1);
  color: var(--title-color);
  transition: inherit;
}

.btn-with-icon:hover {
  color: var(--theme-color);
}

.btn-with-icon:hover .btn-icon {
  background: var(--theme-color);
  color: var(--white-color);
  transform: rotate(45deg);
}

.btn-with-icon.style3 {
  color: var(--white-color);
}

.btn-with-icon.style3 .btn-icon {
  background: var(--theme-color);
  color: var(--white-color);
}

/* Small devices */

/*------------------- 3.3. Titles -------------------*/
.sec-title {
  margin-bottom: calc(var(--section-title-space) - 36px);
  margin-top: -0.15em;
  font-weight: 600;
  position: relative;
}

h3.sec-title {
  margin-top: -0.2em;
}

.sub-title {
  display: block;
  line-height: 1.2;
  color: var(--body-color);
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
  font-weight: 400;
  font-family: var(--title-font);
  margin-bottom: 30px;
}

.sub-title i,
.sub-title img {
  margin-right: 15px;
}

.sub-title.text-white img {
  filter: brightness(9) grayscale(9);
}

.sec-text {
  font-size: 18px;
  font-family: var(--title-font);
  margin-top: 23px;
  line-height: 1.667;
  margin-bottom: 0;
}

.title-area {
  margin-bottom: calc(var(--section-title-space) - 10px);
  position: relative;
  z-index: 2;
}

.title-area .sub-title {
  margin-top: -0.2em;
}

.title-area.text-center .sub-title:after {
  display: inline-block;
}


/* Medium Large devices */
@media (max-width: 1399px) {
  .sec-title {
    font-size: 45px;
  }

  .sec-text {
    margin-top: 0px;
  }
}

/* Large devices */
@media (max-width: 1199px) {

  .title-area,
  .sec-title {
    --section-title-space: 60px;
  }

  .sec-title {
    font-size: 40px;
  }

  .sec-text {
    font-size: 16px;
  }
}

/* Medium devices */
@media (max-width: 991px) {

  .title-area,
  .sec-title {
    --section-title-space: 50px;
  }

  .sub-title {
    font-size: 14px;
  }
}

/* Small devices */
@media (max-width: 767px) {

  .sec-title {
    font-size: 34px;
  }
}

@media (max-width: 390px) {

  .sec-title {
    font-size: 30px;
  }
}

/*------------------- 3.4. Common -------------------*/
.shape-mockup-wrap {
  z-index: 2;
  position: relative;
}

.shape-mockup {
  position: absolute;
  z-index: -1;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px 30px;
}

.btn-group .btn {
  flex: none;
}

/*------------------- 3.6. Font -------------------*/

.text-underline {
  text-decoration: underline;
}

/*------------------- 3.7. Background -------------------*/
.bg-theme {
  background-color: var(--theme-color) !important;
}

.bg-theme2 {
  background-color: var(--theme-color) !important;
}

.bg-smoke {
  background-color: var(--smoke-color) !important;
}

.bg-smoke2 {
  background-color: var(--smoke-color2) !important;
}

.bg-smoke3 {
  background-color: var(--smoke-color3) !important;
}

.bg-smoke4 {
  background-color: var(--smoke-color4) !important;
}

.bg-smoke5 {
  background-color: var(--smoke-color5) !important;
}

.bg-white {
  background-color: var(--white-color) !important;
}

.bg-black {
  background-color: var(--black-color) !important;
}

.bg-title {
  background-color: var(--title-color) !important;
}

.bg-mask {
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}

.bg-fluid {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.bg-auto {
  background-size: auto auto;
}

.bg-top-center {
  background-size: auto;
  background-position: top center;
}

.bg-repeat {
  background-size: auto;
  background-repeat: repeat;
}

.bg-attachment {
  background-attachment: fixed;
}

/*------------------- 3.8. Text Color -------------------*/
.text-theme {
  color: var(--theme-color) !important;
}

.text-theme2 {
  color: var(--theme-color) !important;
}

.text-title {
  color: var(--title-color) !important;
}

.text-body {
  color: var(--body-color) !important;
}

.text-white {
  color: var(--white-color) !important;
}

.text-light {
  color: var(--light-color) !important;
}

.text-yellow {
  color: var(--yellow-color) !important;
}

.text-success {
  color: var(--success-color) !important;
}

.text-error {
  color: var(--error-color) !important;
}

.text-inherit {
  color: inherit;
}

.text-inherit:hover {
  color: var(--theme-color);
}

a.text-theme:hover,
.text-reset:hover {
  text-decoration: underline;
}

/*------------------- 3.9. Overlay -------------------*/

.position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*------------------- 3.10. Animation -------------------*/

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    transform: scale(2.1);
    opacity: 0;
  }
}

@keyframes movingX {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moving {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes jumpAni {
  0% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes jumpReverseAni {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-positive {
  0% {
    width: 0;
  }
}

@keyframes slideinup {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideinright {
  0% {
    opacity: 0;
    transform: translateX(70px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideindown {
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideinleft {
  0% {
    opacity: 0;
    transform: translateX(-70px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slidebottomright {
  0% {
    opacity: 0;
    transform: translateX(100px) translateY(100px);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes slidetopleft {
  0% {
    opacity: 0;
    transform: translateX(-100px) translateY(-100px);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes scalein {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes rollinleft {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }

  to {
    transform: translateX(0) rotate(0deg);
  }
}

@keyframes rollinright {
  0% {
    opacity: 0;
    transform: translateX(100%) rotate(120deg);
  }

  to {
    transform: translateX(0) rotate(0deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

  0% {
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
  }

  75% {
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #fff;
    border-bottom-color: transparent;
  }

  100% {
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
  }
}

@keyframes ShapeAnim {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top left 2000px;
  }
}

/*custom-animation**********************/

@keyframes custom-anim-right {
  0% {
    transform: translateX(5%);
    clip-path: inset(0 0 0 100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

@keyframes custom-anim-left {
  0% {
    transform: translateX(-5%);
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

@keyframes custom-anim-top {
  0% {
    transform: translateY(-5%);
    clip-path: inset(0 0 100% 0);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

@keyframes custom-anim-bottom {
  0% {
    transform: translateY(5%);
    clip-path: inset(100% 0 0 0);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

/*=================================
    04. Template Style
==================================*/
/*------------------- 4.6. Blog  -------------------*/
blockquote {
  font-size: 24px;
  line-height: 1.55;
  padding: 60px;
  font-weight: 400;
  font-family: var(--title-font);
  display: block;
  position: relative;
  background-color: var(--smoke-color);
  overflow: hidden;
  margin: 32px 0 40px;
  color: var(--body-color);
  font-style: italic;
  border-radius: 0px;
  border: 0;
  border-top: 3px solid var(--theme-color);
  /* Medium Large devices */
  /* Small devices */
}

blockquote p {
  font-size: 24px;
  font-weight: 400;
  font-family: var(--title-font);
  font-style: normal;
  margin-top: -0.3em;
  margin-bottom: 26px;
  line-height: 1.55;
  color: var(--body-color);
  width: 100%;
  position: relative;
  z-index: 3;
}

blockquote p a {
  color: inherit;
}

blockquote p cite {
  margin-top: 20px;
}

blockquote:before {
  content: "\201C";
  font-family: Georgia, serif;
  position: absolute;
  right: 50px;
  bottom: 20px;
  font-size: 120px;
  font-weight: 700;
  color: var(--theme-color);
  font-style: normal;
  background: transparent;
  text-align: center;
  opacity: 0.1;
  line-height: 1;
}

blockquote cite {
  display: block;
  font-size: 24px;
  position: relative;
  border-color: inherit;
  line-height: 1;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: -0.2em;
  font-style: normal;
  color: var(--title-color);
  font-family: var(--title-font);
}


blockquote.is-large,
blockquote.is-style-large,
blockquote.has-text-align-right {
  padding: 170px 50px 50px;
}

blockquote.is-large cite:before,
blockquote.is-style-large cite:before {
  top: unset;
  bottom: 13px;
}

blockquote.has-text-align-right {
  border: 0;
}

blockquote.has-text-align-right:before {
  right: 50px;
  left: unset;
}

@media (max-width: 1299px) {

  blockquote {
    padding: 50px;
    font-size: 20px;
  }

  blockquote p {
    font-size: 20px;
  }
}

@media (max-width: 767px) {

  blockquote {
    padding: 30px;
    font-size: 18px;
  }

  blockquote p {
    font-size: 18px;
  }

  blockquote:before {
    right: 23px;
    bottom: 10px;
    font-size: 60px;
  }
}

/*------------------- 4.8. Hero Area  -------------------*/
/* Hero Global ---------------------------------- */

.hero-title {
  font-weight: 600;
  letter-spacing: -0.015em;
  line-height: 1.097;
}

/* Hero 1 ---------------------------------- */

/* Hero 2 ---------------------------------- */

/* Hero 3 ---------------------------------- */

/* Hero 4 ---------------------------------- */

/*hero-4-contact-area***************/

/* Hero 5 ---------------------------------- */

/*------------------- 4.00. About  -------------------*/
/*----------------------------------------------
    # About Area 1
----------------------------------------------*/

/* About Area 2 ---------------------------------- */
.about-thumb2 {
  position: relative;
  padding: 0 0 50px 120px;
  /* Medium Large devices */
  /* Medium Large devices */
  /* Extra small devices */
}

.about-thumb2:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 150px;
  background: var(--theme-color);
  left: 70px;
  top: 60px;
  animation: jumpAni 7s linear infinite;
}

@media (max-width: 1399px) {
  .about-thumb2 {
    padding: 0 0 100px 120px;
  }
}

@media (max-width: 1299px) {
  .about-thumb2 {
    padding: 0 0 80px 120px;
  }
}

@media (max-width: 575px) {
  .about-thumb2 {
    padding: 0;
  }
}

/* About Area 3 ---------------------------------- */

/* About Area 4 ---------------------------------- */

/* Benefit Area 5 ---------------------------------- */

/*------------------- 4.00. Testimonial  -------------------*/
/* Testimonial 1 ---------------------------------- */

.testimonial-card {
  padding: 50px;
  border-radius: 2px;
  overflow: hidden;
  /* Extra small devices */
  /* Extra small devices */
}

@media (max-width: 575px) {
  .testimonial-card {
    padding: 40px;
  }
}

@media (max-width: 375px) {
  .testimonial-card {
    padding: 30px;
  }
}

/* Testimonial 2 ---------------------------------- */

/* Testimonial 3 ---------------------------------- */

/* Testimonial 5 ---------------------------------- */

/*------------------- 4.00. Simple Sections  -------------------*/
.checklist ul {
  padding: 0;
  list-style: none;
  text-align: start;
  margin-bottom: 0;
}

.checklist li {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--body-font);
  margin-bottom: 10px;
  display: flex;
  color: var(--title-color);
}

.checklist li:last-child {
  margin-bottom: 0;
}

.checklist li img,
.checklist li i {
  font-size: 22px;
  margin-right: 10px;
  margin-top: 2px;
}

.checklist li img {
  margin-top: 7px;
  align-self: self-start;
}

.checklist.style3 ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
}

.checklist.style3 ul li {
  margin-bottom: 0;
}

.btn-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px 30px;
}

.read-more-btn {
  font-size: 14px;
  font-weight: 500;
  color: var(--body-color);
  position: relative;
}

.read-more-btn i {
  font-size: 12px;
}

.read-more-btn:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  background: var(--theme-color);
  width: 0;
  transition: 0.4s ease-in-out;
}

.read-more-btn:hover {
  color: var(--theme-color);
}

.read-more-btn:hover:after {
  width: 100%;
}

/*------------------- 4.00. Pricing -------------------*/
/* Pricing Card ---------------------------------- */
.pricing-tabs {
  margin-bottom: 50px;
  border: 1px solid rgba(31, 31, 31, 0.15);
  display: inline-flex;
  border-radius: 0;
  padding: 10px;
}

.pricing-tabs .nav-item .nav-link {
  font-size: 15px;
  font-weight: 600;
  color: var(--body-color);
  font-family: var(--title-font);
  text-transform: uppercase;
  border-radius: 0;
  margin: 0;
  border: 0;
  padding: 7px 20px;
  background: transparent;
}

.pricing-tabs .nav-item .nav-link.active {
  background: var(--theme-color);
  color: var(--white-color);
}

.pricing-card {
  display: block;
  padding: 40px 45px;
  background: #F7F7F7;
  border: 2px solid #F7F7F7;
  box-shadow: none;
  transition: 0.4s;
}

.pricing-card .pricing-card_title {
  font-size: 24px;
  font-weight: 700;
  min-width: 220px;
  color: var(--title-color);
  margin-top: -0.3em;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.pricing-card .pricing-card_text {
  margin-bottom: 17px;
}

.pricing-card .pricing-card-details {
  margin: 28px -25px 40px;
  background: #EDEDED;
  padding: 30px;
  transition: 0.4s;
  position: relative;
}

.pricing-card .pricing-card_price {
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 70px;
  line-height: 1.228;
  letter-spacing: -0.015em;
  color: var(--theme-color);
  display: inline-block;
  position: relative;
  padding-bottom: 15px;
}

@media (max-width: 1299px) {
  .pricing-card .pricing-card_price {
    font-size: 60px;
  }
}

.pricing-card .pricing-card_currency {
  font-size: 40px;
  font-weight: 600;
  position: relative;
  top: -25px;
}

@media (max-width: 1299px) {
  .pricing-card .pricing-card_currency {
    top: -22px;
  }
}

.pricing-card .pricing-card_duration {
  font-size: 26px;
  color: var(--body-color);
  font-weight: 500;
  letter-spacing: normal;
}

.pricing-card .checklist li {
  position: relative;
  gap: 12px;
  font-size: 18px;
  margin-bottom: 15px;
}

.pricing-card .checklist li:last-child {
  margin-bottom: 0;
}

.pricing-card .checklist li:before {
  content: "";
  position: relative;
  width: 6px;
  height: 6px;
  background: var(--theme-color);
  transition: 0.4s;
  top: 10px;
}

.pricing-card .btn-with-icon {
  color: var(--title-color);
}

.pricing-card:hover {
  border: 2px solid var(--theme-color);
}

.pricing-card:hover .pricing-card-details {
  background: var(--title-color);
}

.pricing-card:hover .checklist li {
  color: var(--white-color);
}

.pricing-card:hover .checklist li:before {
  background: var(--theme-color);
  opacity: 1;
}

@media (max-width: 375px) {
  .pricing-card {
    padding: 30px 35px;
  }

  .pricing-card .pricing-card-details {
    padding: 20px;
  }
}

/*=================================
    05. Spacing
==================================*/
/*-- Padding Left And Right --*/

/*-- Padding Top And Bottom --*/

/*-- Padding Top --*/

/*-- Padding Bottom --*/

/*-- Padding Left --*/

/*-- Padding Right --*/

/*-- margin Left And Right --*/

/*-- margin Top And Bottom --*/
.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

/*-- margin Top --*/
.mt-5 {
  margin-top: 5px;
}

/*-- margin Bottom --*/
.mb-5 {
  margin-bottom: 5px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-35 {
  margin-bottom: 35px;
}

/*-- margin Left --*/

/*-- margin Right --*/

.mb-60 {
  margin-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
  /* Extra small devices */
}

@media (max-width: 575px) {
  .mt-60 {
    margin-top: 40px;
  }
}

.space,
.space-top {
  padding-top: var(--section-space);
}

.space,
.space-bottom {
  padding-bottom: var(--section-space);
}

/* Medium devices */
@media (max-width: 991px) {

  .space,
  .space-top {
    padding-top: var(--section-space-mobile);
  }

  .space,
  .space-bottom {
    padding-bottom: var(--section-space-mobile);
  }
}